<br><br>
<div align=middle>
<h1>Restaurants to Review</h1>
</div>
<div class="container">
  <div class="browse" align="center">
    <h4>Select to see this restaurant above</h4>
        {{#each restaurants as |restaurant|}}
        {{#link-to 'user.searched' restaurant}}
        <p>{{restaurant.name}}</p>
        {{/link-to}}
        {{/each}}
      {{#each restaurants as |restaurant|}}
      {{restaurant-tile restaurant=restaurant createRating='createRating'}}
      {{/each}}
  </div>
</div>
