<div class="container" id="dash-div" align="middle">
  {{#link-to 'admin'}}
  <button class="btn btn-lg btn-info">Admin Page</button>
  {{/link-to}}
  {{#link-to 'user'}}
  <button class="btn btn-lg btn-info">User Page</button>
  {{/link-to}}
</div>
